
<html>
<head>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

{{#block "content"}}Replace this content in specific templates{{/block}}

<div class="footer">
    Template rendered with <a href="https://github.com/jknack/handlebars.java" target="_blank">Handlebars</a>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="/assets/js/app.js"></script>

</body>
</html>
