body {
    margin: 20px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

input, button {
    font-size: 1em;
}

h1 {
    color: #5046a0;
}

li {
    margin-bottom: 5px;
}

a {
    color: #666;
    text-decoration: none;
    /* border-bottom: 2px dashed gray; */
}

.footer {
    margin-top: 20px;
    font-size: 15px;
    color: gray;
}
