
{{<base}}

{{$content}}

<h1>Recommended books</h1>

<form class="search-box">
    <input placeholder="search books"> <button>Search</button>
</form>

<ul>
    {{#books}}
        <li><a href='/books/{{id}}'>{{title}}</a></li>
    {{/books}}
    {{^books}}
        <li>No books to show!</li>
    {{/books}}
</ul>

{{/content}}

{{/base}}
